#footer-wrapper {
  background-color: var(--clrSecundary);
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  gap: 1.5rem;
  font-size: 1.50ch;
  color: var(--bgColorLight);
  border-top: 0.06rem solid var(--clrPrimary);

    span {
      font-size: 2.15ch;
      font-family: "Agbalumo", sans-serif;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      justify-content: space-between;
    }

    svg {
      font-size: 2.15ch;
      vertical-align: bottom;
    }

    ul li a {
      text-underline-offset: 0.5rem;
      text-decoration-thickness: 0.15rem;
      text-decoration-color: var(--clrPrimary);
      color: var(--bgColorLight);
    }
}